export POSTGRESQL_USER_NAME=user
export POSTGRESQL_USER_PASSWORD=password
export POSTGRESQL_DATABASE_NAME=database
export POSTGRESQL_EXPOSED_PORT=5432

export CONNECTION_STRING=`echo host=localhost port=$POSTGRESQL_EXPOSED_PORT dbname=$POSTGRESQL_DATABASE_NAME user=$POSTGRESQL_USER_NAME password=$POSTGRESQL_USER_PASSWORD`;