# Roles
export POSTGRESQL_USER_NAME=user
export POSTGRESQL_USER_PASSWORD=password
export POSTGRESQL_POSTGRES_PASSWORD=admin_password

# Database
export POSTGRESQL_DATABASE_NAME=database
export POSTGRESQL_EXPOSED_PORT=5432

# Client
export CLIENT_APPLICATION_NAME=batch-queries-postgresql

# Connexion
export CONNECTION_STRING=`echo host=localhost port=$POSTGRESQL_EXPOSED_PORT dbname=$POSTGRESQL_DATABASE_NAME user=$POSTGRESQL_USER_NAME password=$POSTGRESQL_USER_PASSWORD application_name=$CLIENT_APPLICATION_NAME`;
export CONNECTION_STRING_ADMIN=`echo host=localhost port=$POSTGRESQL_EXPOSED_PORT dbname=$POSTGRESQL_DATABASE_NAME user=postgres password=$POSTGRESQL_POSTGRES_PASSWORD application_name=$CLIENT_APPLICATION_NAME`;

# Multiple queries

export PGHOST=localhost
export PGPORT=`echo $POSTGRESQL_EXPOSED_PORT`
export PGUSER=`echo $POSTGRESQL_USER_NAME`
export PGPASSWORD=`echo $POSTGRESQL_USER_PASSWORD`
export PGDATABASE=`echo $POSTGRESQL_DATABASE_NAME`

export CLIENTS=2
export JOBS=3
export TRANSACTIONS=4