export HOST_NAME=localhost
export POSTGRESQL_USERNAME=user
export POSTGRESQL_PASSWORD=password123
export POSTGRESQL_DATABASE=masterclass
export POSTGRESQL_EXTERNAL_PORT=1234
export POSTGRESQL_INTERNAL_PORT=5432
